.aboutSection {
  margin-bottom: 140px;

  @media (max-width: 752px) {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: 120px;

  @media (max-width: 752px) {
    margin-bottom: 30px;
  }
}

.description {
  margin-bottom: 80px;

  @media (max-width: 752px) {
    margin-bottom: 40px;
  }
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  @media (max-width: 752px) {
    gap: 16px;
  }
}

.cell {
  border: 4px solid var(--color-gray-light);
  padding: 24px 28px;
  min-height: 120px;
  gap: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 752px) {
    border-width: 2px;
    padding: 20px;
    gap: 24px;
    min-height: auto;
  }
}
