.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.spinner {
  animation: spin 0.8s linear infinite;
  border: 4px solid var(--color-gray-light);
  border-radius: 50%;
  border-top-color: var(--color-green);
  height: 48px;
  width: 48px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
