.container {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Главный заголовок */
.h1 {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 6rem;

  @media (max-width: 752px) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

/* Текст-описание хакатона */
.p1 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.2rem;
  letter-spacing: 0.06em;

  @media (max-width: 752px) {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.03em;
  }
}

.category {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0.06em;

  @media (max-width: 752px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.04em;
  }
}

.categoryLight {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0.06em;

  @media (max-width: 752px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
  }
}

.label {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;

  @media (max-width: 752px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/* Дропдаун */
.liCard {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;

  @media (max-width: 752px) {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

/* Шаги участия */
.stepHeader {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4rem;

  @media (max-width: 752px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

.stepSubheader {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;

  @media (max-width: 752px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/* Подпись в синем окне */
.windowName {
  font-family: "Iosevka", monospace;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;

  @media (max-width: 752px) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

/* Подпись в синем окне */
.windowContent {
  font-family: "Iosevka", monospace;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;

  @media (max-width: 752px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

.tgLink {
  font-family: "Iosevka", monospace;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;

  @media (max-width: 752px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.button {
  font-family: "Iosevka", monospace;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;

  @media (max-width: 752px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/* Цвета */
.primary {
  color: var(--color-black);
}

.invert {
  color: var(--color-gray-light);
}

.accent {
  color: var(--color-green);
}
