.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px 123px;
  width: 100%;

  @media (max-width: 1280px) {
    padding: 0 48px 100px;
  }

  @media (max-width: 1024px) {
    padding: 0 24px 80px;
  }

  @media (max-width: 830px) {
    padding: 0 16px 60px;
  }
}
