.window {
  position: relative;
  background-color: var(--color-blue);
  border: 6px solid var(--color-blue);
}

.header {
  padding-bottom: 8px;
  background: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-white);
  user-select: none;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: var(--color-red);
  color: var(--color-white);
  border: none;
}
