.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  padding: 70px 80px 123px;
  width: 100%;

  @media (max-width: 1280px) {
    padding-inline: 48px;
  }

  @media (max-width: 1024px) {
    padding-inline: 24px;
  }

  @media (max-width: 830px) {
    padding-inline: 16px;
  }
}
