.stagesSection {
  margin-bottom: 140px;

  @media (max-width: 752px) {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: 40px;

  @media (max-width: 752px) {
    margin-bottom: 30px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 54px;

  @media (max-width: 752px) {
    flex-direction: column;
    gap: 30px;
  }
}
