:root {
  /* COLORS */
  --color-black: #070f27;
  --color-gray-light: #ebebeb;
  --color-green: #17aa74;
  --color-blue: #0004dd;
  --color-red: #b70200;
  --color-gray: #1b1b1b;
  --color-white: #ffffff;
}
