.mapSection {
  margin-bottom: 133px;

  @media (max-width: 752px) {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: 60px;

  @media (max-width: 752px) {
    margin-bottom: 30px;
  }
}

.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
